/* Terminal styling */
input {
	outline: none;
}

textarea {
		flex-grow: 1;
		padding: 0.625rem;
		border: none;
		border-radius: 12px;
		resize: none;
		font-family: inherit;
		font-size: 1.0625rem;
		line-height: 1.4;
		background-color: transparent;
		min-height: 20px; /* Lower start height */
		max-height: 120px;
		outline: none;
		width: calc(100% - 50px); /* Make room for the send button */
		transition: color 0.2s;
		overflow: hidden; /* Hide scrollbar */
	}

#terminal {
	@apply flex-col-reverse overflow-y-scroll flex w-[500px] max-w-[500px];
	scrollbar-width: none;
}

input#terminal-input {
	@apply bg-transparent w-full border-0;
}

#scroller * {
	overflow-anchor: none;
}

#input-anchor {
	overflow-anchor: auto;
	height: 1px;
}

/* Terminal line styling */
.terminal-line {
	font-size: 1.02em;
	overflow-x: hidden;
}

.terminal-line.hash {
	color: var(--terminal-hash);
	font-weight: bold;
}

.terminal-line.out {
	color: var(--terminal-out);
}

.terminal-line.shog {
	color: var(--terminal-shog);
}

.terminal-line.input {
	color: var(--terminal-input);
}

.terminal-line.system {
	color: var(--terminal-system);
}

.terminal-line.error {
	color: var(--terminal-error);
}
