@import "tailwindcss";
@import "./colors.css";
@import "./crt.css";
@import "./fonts.css";
@import "./notifications.css";

html,
body,
#root {
	@apply relative w-screen h-screen;
	text-rendering: optimizeLegibility;
	@apply font-primary antialiased;
}

#client-root {
	@apply bg-gray-950;
}

#terminal {
	@apply bg-black/90;
}
.theme-primary-background {
	@apply bg-black;
}

@custom-variant dark (&:where(.dark, .dark *));

input {
	@apply font-secondary;
}

.scrollbar-hide {
	scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
	display: none;
}
